.newsletter {
    margin-top: 100px;
}

.newsletter__body {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FBFBFB;
}

.newsletter__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.newsletter__item {
    width: 250px;
    padding: 25px;

}

.newsletter__item-img {
    margin-bottom: 18px;
}

.newsletter__item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 9px;
}

.newsletter__item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #727272;

}


.newsletter__email {
    width: 355px;
}


.content__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 18px;
}

.content__form {
    display: flex;
    align-items: flex-start;

}

.content__form-input {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ACACAC;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    width: 270px;
    height: 40px;
    padding: 12px;
    margin-bottom: 17px;
}

.content__form-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
    background: #46A358;
    border-radius: 0px 6px 6px 0px;
    padding: 12px 25px;
}

.content__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #727272;
}


@media screen and (max-width: 1200px) {

    .newsletter__body {
        flex-direction: column;
    }

    .newsletter__list {
        flex-wrap: wrap;
    }

    .newsletter__email {
        width: 100%;
    }

    .content__form {
        width: 100%;
    }

    .content__form-box {
        width: 100%;
    }

    .content__form-input {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .newsletter__item {
        width: 100%;
        text-align: center;
    }
}